Flask
pandas
azure-storage-blob
azure-identity
azure-ai-textanalytics
requests
flask-cors
openai
Flask==2.3.2
gunicorn==21.2.0
pandas==2.2.2
Flask
pandas
azure-storage-blob
azure-identity
azure-ai-textanalytics
requests
flask-cors
openai
Flask==2.3.2
gunicorn==21.2.0
pandas==2.2.2
Flask
pandas
python-dotenv
azure-storage-blob
